<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.8.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo-114x123-2.png" type="image/x-icon">
    <meta name="description" content="Website Maker Description">
    <title>Student Id Card</title>

    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="/assets/datatables/data-tables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="/assets/user/style.css">
    <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/id-card-student1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    
</head>

<body>
    <header>
        <!--Page navigation header-->
        <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-3">
                <nav style="background:#414141; " class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                    <div class="menu-logo">
                        <div class="navbar-brand">
                            <span class="navbar-logo">
                                <a href="https://www.lasu.edu.ng" target="_blank">
                                    <img src="<%=result.passport%>" alt="Mobirise" title="" style="height: 3.8rem;">
                                </a>
                            </span>
                            <span class="navbar-caption-wrap"><a  class="navbar-caption text-white display-7" href="https://mobirise.com"><p style="color:#EED343; font-family: 'Dancing Script', cursive; font-size:20px ">
                                 <%=result.schoolName%></p></a></span>
                        </div>
                    </div>
                    
                </nav>
            </section>

        <!--The status navbar-->
        <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav  ">
            <div class="repohead-details-container clearfix container">


                <h1 class="public">

                    <span class="author" itemprop="author">Student</a></span>

                    <strong itemprop="name">ID Card</strong>
                </h1>

            </div>
            <br>
            <nav class="reponav js-repo-nav js-sidenav-container-pjax container" role="navigation" itemtype="http://schema.org/BreadcrumbList"
                itemscope="" data-pjax="#js-repo-pjax-container">

  <span itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="">
                    <a class="js-selected-navigation-item reponav-item " href="/admindashboard" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /Robogeek95/Baba-ijebu-main/issues"
                        itemprop="url" >

                   <span itemprop="name">HOME</span>
                        <meta content="2" itemprop="position">
                    </a> </span>

              

                <span itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="">
                    <a class="js-selected-navigation-item  reponav-item current " aria-current="page" href="#"
                        data-hotkey="g c" itemprop="url" >

                        <span itemprop="name">Entries</span>
                        <span class="Counter">15</span>
                        <meta content="1" itemprop="position">
                    </a> </span>

                     

              <span itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="" style="float: right">
                    <a class="js-selected-navigation-item reponav-item " href="/logout" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /Robogeek95/Baba-ijebu-main/issues"
                        itemprop="url" >

                        <span itemprop="name">Logout</span>
                       
                        <meta content="2" itemprop="position">
                    </a> </span>


            </nav>




         

        </div>

    </header>
  

  <section class="section-table yo cid-r7f77huOtX" id="cleared">


        <div id="clear" class="clear">

        <div class="container container-table">
            <div class="table-title pl-3 Ttitle">
                <h1 class="h1">Generate Student Id Card</h1>
            </div>

            <div class="table-wrapper">
                <div class="container">
                    <div class="row search">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="dataTables_filter">
                                <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                                <input class="form-control input-sm" disabled="">
                            </div>
                        </div>
                    </div>
                </div>

                   <div class="container scroll">
                <table class="table table-hover table-striped isSearch table-hover" cellspacing="0">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>Registration Number</th>
                            <th>Gender</th>
                            <th>Generate Card</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                          <% for(i=0; i<doc.length; i++){%>
                                <tr>
                                      <td><%=doc[i].studentName%></td>
                                      <td><%=doc[i].reg%></td>
                                      <td><%=doc[i].gender%></td>
                              <td>
                 <button type="button" data-toggle="modal" class="btn" style="background-color: #31B0D5; color: white" class="details"
                                        data-target="#myModal<%=[i]%>">View Card</button>

     

                                         <!-- Modal -->
        <!-- Trigger the modal with a button -->
        <div id="myModal<%=[i]%>" class="modal fade" role="dialog" style="margin-top: 20px; padding-top: 150px;" >
            
            <div class="modal-dialog">
        <div >
                

                <!-- Modal content-->
                <div class="modal-content yoo">
                    <div class="modal-header">
                        <h4 class="modal-title">
                           STUDENT ID CARD</h4>

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body" style="z-index: 5; height: 500px">
   
    <div class="element id-card ref<%= i %>"> 
        <div class="iimg5"><div class="over"></div>
        <div class="cover-text">
            <h3><%=result.schoolName%></h3>    
        <div class="sch-logo" style="background-image: url(<%=result.passport%>)">
        </div>
    </div>
        <div class="img-circle">
                <div class="iimg2" style="background-image: url(<%=doc[i].passport%>)"></div>
        </div>
        </div>

        
        
        <div class="mother">
    <div class="cover-flex">
            <h4 style="font-size: 10px;"><b>Student Name:</b></h4> 
            <h4 style="font-size: 10px; padding-top: 3px"><b>Student No:</b></h4>
            <h4 style="font-size: 10px; padding-top: 3px"><b>Class</b></h4> 
            <h4 style="font-size: 10px; padding-top: 3px"><b>Gender:</b></h4>
            
        </div>
               <div class="cover-flex2">
                        <h4 style="font-size: 14px"><%=doc[i].studentName%></h4> 
                        <h4 style="font-size: 14px; padding-top: 3px"><%=doc[i].reg%></h4> 
                        <h4 style="font-size: 14px; padding-top: 3px"><%=doc[i].class%></h4>
                        <h4 style="font-size: 14px; padding-top: 3px"><%=doc[i].gender%></h4> 
                     
                    </div>                        
                                
                            </div>
                 
     
    
        
                    <div class="id-card elementt"> 
                        <div class="iimg5"><div class="over"></div>
                        <div class="cover-text1">
                                <div class="sch-logo1" style="background-image: url('<%=result.passport%>')"></div>
                    </div>
                        </div>
                
                       
                        
                        <div class="mother">
                    <div class="cover-flex1">
                            <p>This certifies that the bearer is an student of this prestigious school.Please give him/her the
                                necessary assistance to carry out the duties assigned to him/her. This card MUST be surrendered to the Director
                                of Finance of this prestigious school when leaving the services of this school.  
                            </p>
                            
                           <span class="exp"><h3><b><p>VALIDITY:</p></b> <b style="color:white"><%=result.validity%></b></h3> 
                            <h4>Signature: <p><b><img src="<%=result.sign%>" width="40px" height="40px" alt=""> </b> </p></h4> <div class="barcode" style="background-image: url('../images/barcode.png');"> </div></span>

                        </div>
                                </div>
    
                                            </div>
                                 
                            </div>
 
    </div>
                         <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button class="save btn btn-primary">Download Front View</button>
                        <button class="savee btn btn-primary">Download Back View</button>                        

                    </div>
                </div>
                    </div>
                   

</div>            
</div>
</div>
        

     </div>

    </div>
     

                              </td>
        
                                </tr>

  
              <% }%>
                                             
                           
      
                    </tbody>

                </table>

</div>

                <div class="container table-info-container">
                    <div class="row info">
                        <div class="col-md-6">
                            <div class="dataTables_info mbr-fonts-style display-7">
                                <span class="infoBefore">Showing</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoAfter">entries</span>
                                <span class="infoFilteredBefore">(filtered from</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoFilteredAfter"> total entries)</span>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
     

  <!-- Footer -->
  <div class="py-3 clear" >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center d-md-flex align-items-center">
            <ul class="nav d-flex justify-content-center">
              <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Our Team</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
            </ul><img class="img-fluid d-block mx-auto" src="/images/lasu.jpg" width="80px">
            <p class="mb-0 py-1 text-muted" style="font-family:Arial, Helvetica, sans-serif">© 2018 Lasucode All rights reserved</p>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script src="/assets/popper/popper.min.js"></script>
    <script src="/assets/tether/tether.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="/assets/datatables/jquery.data-tables.min.js"></script>
    <script src="/assets/datatables/data-tables.bootstrap4.min.js"></script>
    <script src="/assets/dropdown/js/script.min.js"></script>
    <script src="/assets/theme/js/script.js"></script>          
    <script type="text/javascript" src="js/html2canvas.min.js"></script>
    <script type="text/javascript" src="js/canvas2image.js"></script>
    <script src="js/idcard-staff1.js"></script>
     
 <script>

//  let elm = $('.element');
let lebar = "324";
let tingg1 = "204"; 
let type = "png";   
let filename = "htmltoimage";

  
    $(".save").click(function() {
        let elm = $(this).parents('.modal-content').find('.element')[0];
        console.log(elm)
        console.log($('.element').get(0));
        html2canvas(elm).then(function(canvas){
            let canWidth = canvas.width;
            let canHeight = canvas.height;
            let img = Canvas2Image.convertToImage(canvas, canWidth, canHeight);
            $('#preview').after(img);
            Canvas2Image.saveAsImage(canvas, lebar, tingg1, type, filename)
        })
    })



  
    $(".savee").click(function() {
        let elm = $(this).parents('.modal-content').find('.elementt')[0];
        console.log(elm)
        console.log($('.elementt').get(0));
        html2canvas(elm).then(function(canvas){
            let canWidth = canvas.width;
            let canHeight = canvas.height;
            let img = Canvas2Image.convertToImage(canvas, canWidth, canHeight);
            $('#preview').after(img);
            Canvas2Image.saveAsImage(canvas, lebar, tingg1, type, filename)
        })
    })

</script>           

 
         

    <input name="animation" type="hidden">
</body>

</html>




